[Desktop Entry]
Name=3 Displays Setup
Comment=emulate 3 virtual displays
Exec=/bin/bash /opt/virtual-display-manager/xrandr_setup_3.sh
Icon=preferences-desktop-display
Terminal=false
Type=Application
Categories=Utility;
